@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
	@apply bg-opacity-60 dark:bg-opacity-60 backdrop-filter backdrop-blur-lg
}
html,
body {
	@apply h-full overflow-hidden;
}

a{
	text-decoration-line: none !important;
}


button{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    transition: 0.2s ease;

    &:hover{
        background: #303030;
    }
}


input{
    background: none !important;
    border: none !important;
    outline: none !important;


    &:focus{
        border: none !important;
        outline: none !important;
    }
}
